section {
    display: flex;
    min-height: calc(100% - 62.75px);
}

.chart {
  background-color: #fff;
  border-radius: 10px;
}

canvas {
  min-width: 1200px;
  min-height: 500px;
}

.content {
    flex: 1;
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 100px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    box-sizing: border-box;
    margin: 20px 0 0 0;
    justify-content: flex-end;
    gap: 20px;
}

.form {
    font-family: 'Roboto Flex';
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #C9C9C9;
    padding: 20px;
    min-width: 350px;
}

header {
    display: inline-block;
    background-color: #303030;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 60px;
    margin-bottom: 10vh;
}

header h1 {
    font-family: 'Roboto Flex';
    font-size: 48px;
    font-weight: normal;
    color: white;
    margin: 0px;
    padding: 20px 40px 20px 20px;
}

label {
    font-size: 16px;
    display: block;
    color: #6F7482;
    margin-bottom: 10px;
}

input {
    font-family: 'Roboto Flex';
    box-sizing: border-box;
    color: #3B4256;
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}

.button {
    margin-top: 10px;
    text-align: right;
}

button {
    background-color: #0048D9;
    color: white;
    font-family: 'Roboto Flex';
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

button:disabled {
    background-color: #838383;
}
