<nav class="navbar">
    <ul>
        <li>
            <img routerLink="/" src="{{ assets + '/home.svg' }}" alt="Home">
        </li>
        <li>
            <img routerLink="/reports" src="{{ assets + '/reports.svg' }}" alt="Reports">
        </li>
        <li>
            <img routerLink="/diagrams" src="{{ assets + '/diagrams.svg' }}" alt="Diagrams">
        </li>
        <li>
            <img routerLink="/graphs" src="{{ assets + '/graphs.svg' }}" alt="Graphs">
        </li>
        <li>
            <img routerLink="/docs" src="{{ assets + '/documents.svg' }}" alt="Pies">
        </li>
        <li *ngIf="currentUser?.roles?.includes('Администратор')">
            <img routerLink="/employees" src="{{ assets + '/employees.svg' }}" alt="Graphs">
        </li>
    </ul>
    <div class="settings">
        <img routerLink="/settings" src="{{ assets + '/settings.svg' }}" alt="Settings">
    </div>
</nav>