.navbar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    height: 100%;
    background-color: #66DD63;
    justify-content: space-between;
    padding: 2vh 0 2vh 0;
    flex-shrink: 0;
}
  
.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.navbar li {
    margin-bottom: 10px;
}