section {
    display: flex;
    min-height: calc(100% - 62.75px);
}

.content {
    flex: 1;
}

.container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 100px;
    padding: 0 50px;
    margin-bottom: 50px;
}

.buttons {
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.table {
    width: 100%;
}

table {
    min-width: 8e2px;
}

.mat-elevation-z8 th {
    font-family: 'Roboto Flex';
    font-size: 14px;
    color: #353535;
    text-align: center;
    text-wrap: nowrap;
}

.mat-elevation-z8 td {
    font-family: 'Roboto Flex';
    font-size: 14px;
    color: #5F5F5F;
    text-align: center;
    text-wrap: nowrap;
}

.mat-row:nth-child(even) {
    background-color: #FFFFFF;
}
  
.mat-row:nth-child(odd) {
    background-color: #D9D9D9;
}

.form {
    font-family: 'Roboto Flex';
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    background-color: #C9C9C9;
    padding: 20px;
    width: 100%;
}

header {
    display: inline-block;
    background-color: #303030;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 60px;
    margin-bottom: 10vh;
}

header h1 {
    font-family: 'Roboto Flex';
    font-size: 48px;
    font-weight: normal;
    color: white;
    margin: 0px;
    padding: 20px 40px 20px 20px;
}

label {
    font-size: 16px;
    display: block;
    color: #6F7482;
    margin-bottom: 10px;
}

input {
    font-family: 'Roboto Flex';
    box-sizing: border-box;
    color: #3B4256;
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}

.button {
    margin-top: 10px;
    text-align: right;
}

button {
    background-color: #0048D9;
    color: white;
    font-family: 'Roboto Flex';
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

button:disabled {
    background-color: #838383;
}