<app-header></app-header>
<section>
    <app-navbar></app-navbar>
        <div class="content">
            <header>
                <h1>{{ title }}</h1>
            </header>
            <div class="container">
                <div class="table">
                    <table id="table" mat-table [dataSource]="tableRows" class="mat-elevation-z8">

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Наименование </th>
                            <td mat-cell *matCellDef="let tableRow"> {{ tableRow.title }} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="sales">
                            <th mat-header-cell *matHeaderCellDef> Объем продаж, ₽ </th>
                            <td mat-cell *matCellDef="let tableRow"> {{ tableRow.sales }} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="share">
                            <th mat-header-cell *matHeaderCellDef> Доля, % </th>
                            <td mat-cell *matCellDef="let tableRow"> {{ tableRow.share * 100 }} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="cumulative share">
                            <th mat-header-cell *matHeaderCellDef> Нарастающая доля, % </th>
                            <td mat-cell *matCellDef="let tableRow"> {{ tableRow.cumulativeShare * 100 }} </td>
                        </ng-container>

                        <ng-container matColumnDef="abc">
                            <th mat-header-cell *matHeaderCellDef> ABC </th>
                            <td mat-cell *matCellDef="let tableRow"> {{ tableRow.abc }} </td>
                        </ng-container>

                        <ng-container matColumnDef="xyz">
                            <th mat-header-cell *matHeaderCellDef> XYZ </th>
                            <td mat-cell *matCellDef="let tableRow"> {{ tableRow.xyz }} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;" class="mat-row"></tr>
                    </table>
                    <div class="buttons" *ngIf="tableRows.length !== 0">
                        <button type="submit" (click)="onDownload()">Скачать</button>
                        <button type="submit" (click)="onSave()">Сохранить</button>
                    </div>
                </div>
                <form [formGroup]="form" class="form">
                    <div>
                        <label for="types">Объект анализа</label>
                        <ng-select
                            [items]="types"
                            formControlName="type"
                            appendTo="body"
                        >
                        </ng-select>
                    </div>
                    <div>
                        <label for="startDate">Дата начала периода</label>
                        <input type="date" id="startDate" name="startDate" formControlName="startDate">
                    </div>
                    <div>
                        <label for="endDate">Дата конца периода</label>
                        <input type="date" id="endDate" name="endDate" formControlName="endDate">
                    </div>
                    <div class="button">
                        <button type="submit" (click)="onClick()" [disabled]="form.invalid">Применить</button>
                    </div>
                </form>
            </div>
        </div>
</section>