<header>
    <h1>Cabel BI</h1>
    <div class="user-info">
        <span class="username">{{ user.firstName + ' ' + user.lastName }}</span>
        <div class="profile-picture" (mouseleave)="hideDropdown()">
            <img src="../../../assets/profile.svg" alt="User Profile Picture" (mouseenter)="showDropdown()">
            <div class="dropdown-menu" *ngIf="isShowDropdown">
                <ul>
                  <li><a routerLink="/users/{{user.id}}">Профиль</a></li>
                  <li><a routerLink="/auth" (click)="onLogout()" [ngStyle]="{'color': 'red'}">Выход из учетной записи</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>