header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh 0 0.5vh 0;
}

h1 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 36;
    margin: 0;
    padding-left: 5vh;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2vh;
}

.username {
    font-family: 'Roboto Flex';
    font-size: 16px;
    margin-right: 5vh;
}

.dropdown-menu {
    position: fixed;
    top: 7%;
    right: 3%;
    display: block;
    background-color: #A0A0A0;
    border-radius: 10px 0 10px 10px;
    padding: 10px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    font-family: 'Roboto Flex';
    margin: 0;
    text-align: right;
}

.dropdown-menu a {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-wrap: nowrap;
}