<app-header></app-header>
<section>
    <app-navbar></app-navbar>
    <div class="content">
        <header>
            <h1>{{ title }}</h1>
        </header>
        <div class="container">
            <div class="chart-panel">
                <div class="chart">
                    <canvas id="chart"></canvas>
                </div>
                <div class="buttons" *ngIf="chart!">
                    <button type="submit" (click)="onDownload()">Скачать</button>
                    <button type="submit" (click)="onSave()">Сохранить</button>
                </div>
            </div>
            <form [formGroup]="form" class="form">
                <div>
                    <label for="types">Тип диаграммы</label>
                    <ng-select
                        [items]="types"
                        formControlName="type"
                        appendTo="body"
                    >
                    </ng-select>
                </div>
                <div>
                    <label for="companies">Компания</label>
                    <ng-select
                        [items]="companies"
                        [bindLabel]="'name'"
                        formControlName="companies"
                        appendTo="body"
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
                <div>
                    <label for="types">Товар</label>
                    <ng-select
                        [items]="categories"
                        [bindLabel]="'name'"
                        formControlName="categories"
                        appendTo="body"
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
                <div *ngIf="user.roles.includes('Администратор')">
                    <label for="types">Сотрудник</label>
                    <ng-select
                        [items]="employees"
                        [bindLabel]="'firstName'"
                        formControlName="employees"
                        appendTo="body"
                        [multiple]="true"
                    >
                    </ng-select>
                </div>
                <div>
                    <label for="startDate">Дата начала периода</label>
                    <input type="date" id="startDate" name="startDate" formControlName="startDate">
                </div>
                <div>
                    <label for="endDate">Дата конца периода</label>
                    <input type="date" id="endDate" name="endDate" formControlName="endDate">
                </div>
                <div class="button">
                    <button type="submit" (click)="onClick()" [disabled]="form.invalid">Применить</button>
                </div>
            </form>
        </div>
    </div>
</section>