.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 99, 99, 0.85);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, -10%);
    opacity: 1;
    border-radius: 10px;
}

.popup-content {
    font-family: 'Roboto Flex';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.popup-message {
    margin: 0;
    text-align: center;
    font-size: 14px;
}