<app-header></app-header>
<section>
    <app-navbar></app-navbar>
    <div class="content">
        <header>
            <h1>{{ title }}</h1>
        </header>
        <div class="table">
            <table mat-table [dataSource]="artifacts" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Название документа </th>
                    <td mat-cell *matCellDef="let artifact"> {{ artifact.name }} </td>
                </ng-container>
                
                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> Дата создания </th>
                    <td mat-cell *matCellDef="let artifact"> {{ artifact.creationDate }} </td>
                </ng-container>
    
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Тип </th>
                    <td mat-cell *matCellDef="let artifact"> {{ artifact.type }} </td>
                </ng-container>
    
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef> Автор </th>
                    <td mat-cell *matCellDef="let artifact"> {{ artifact.userDto.firstName + ' ' + artifact.userDto.lastName }} </td>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <img src="../../../assets/action.svg" alt="Action">
                    </th>
                    <td mat-cell *matCellDef="let artifact">
                        <div class="container">
                            <button (click)="onDownload(artifact.name, artifact.objectId)" style="background-color: transparent; border: none; padding: 0; cursor: pointer">
                                <img src="../../../assets/download.svg" alt="Download" style="width: 20px; height: 28px;">
                            </button>
                            <button (click)="onDelete(artifact.id, artifact.objectId, artifact.type)" style="background-color: transparent; border: none; padding: 0; cursor: pointer">
                                <img src="../../../assets/trash.svg" alt="Trash" style="width: 20px; height: 28px;">
                            </button>
                        </div>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;" class="mat-row"></tr>
            </table>
        </div>
    </div>
</section>