section {
    display: flex;
    height: calc(100% - 62.75px);
}

.content {
    flex: 1;
}

header {
    display: inline-block;
    background-color: #303030;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 60px;
    margin-bottom: 10vh;
}

header h1 {
    font-family: 'Roboto Flex';
    font-size: 48px;
    font-weight: normal;
    color: white;
    margin: 0px;
    padding: 20px 40px 20px 20px;
}

.table {
    padding: 0 5% 0 5%;
}

.mat-elevation-z8 th {
    font-family: 'Roboto Flex';
    font-size: 14px;
    color: #353535;
    text-align: center;
}

.mat-elevation-z8 td {
    font-family: 'Roboto Flex';
    font-size: 14px;
    color: #5F5F5F;
    text-align: center;
}

.mat-row:nth-child(even) {
    background-color: #FFFFFF;
}
  
.mat-row:nth-child(odd) {
    background-color: #D9D9D9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}