section {
    display: flex;
    height: calc(100% - 62.75px);
}

.content {
    flex: 1;
}

header {
    display: inline-block;
    background-color: #303030;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 60px;
    margin-bottom: 10vh;
}

header h1 {
    font-family: 'Roboto Flex';
    font-size: 48px;
    font-weight: normal;
    color: white;
    margin: 0px;
    padding: 20px 40px 20px 20px;
}

.table {
    padding: 0 5% 0 5%;
}

.mat-elevation-z8 th {
    font-family: 'Roboto Flex';
    font-size: 14px;
    color: #353535;
    text-align: center;
}

.mat-elevation-z8 td {
    font-family: 'Roboto Flex';
    font-size: 14px;
    color: #5F5F5F;
    text-align: center;
}

.mat-row:nth-child(even) {
    background-color: #FFFFFF;
}
  
.mat-row:nth-child(odd) {
    background-color: #D9D9D9;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.button button {
    width: 70px;
    background-color: #0048D9; /* Set background color */
    color: white; /* Set text color */
    font-family: 'Roboto Flex';
    padding: 5px 15px 5px 15px; /* Adjust padding as needed */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
    display: inline-block; /* Allow inline use */
    min-width: fit-content; /* Allow button to shrink to content */
    white-space: nowrap; /* Prevent text wrapping (optional) */
    text-overflow: ellipsis;
    cursor: pointer;
}