<app-header></app-header>
<section>
    <app-navbar></app-navbar>
    <div class="content">
        <header>
            <h1>{{ title }}</h1>
        </header>
        <div class="table">
            <table mat-table [dataSource]="users" class="mat-elevation-z8">

                <ng-container matColumnDef="Имя, Фамилия">
                    <th mat-header-cell *matHeaderCellDef> Имя, фамилия </th>
                    <td mat-cell *matCellDef="let user"> {{ user.firstName + ' ' + user.lastName }} </td>
                </ng-container>
                
                <ng-container matColumnDef="Должность">
                    <th mat-header-cell *matHeaderCellDef> Должность </th>
                    <td mat-cell *matCellDef="let user"> {{ user.job }} </td>
                </ng-container>
    
                <ng-container matColumnDef="Электронная почта">
                    <th mat-header-cell *matHeaderCellDef> Электронная почта </th>
                    <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
                </ng-container>
    
                <ng-container matColumnDef="Роль">
                    <th mat-header-cell *matHeaderCellDef> Роль </th>
                    <td mat-cell *matCellDef="let user"> {{ user.roles.join(', ').trim() }} </td>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        <img src="../../../assets/action.svg" alt="Action">
                    </th>
                    <td mat-cell *matCellDef="let user">
                        <button *ngIf="user.id !== currentUser?.id" mat-icon-button (click)="onDelete(user.id)" style="background-color: transparent; border: none; padding: 0; cursor: pointer">
                            <img src="../../../assets/delete.svg" alt="Delete" style="width: 20px; height: 28px;">
                        </button>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;" class="mat-row"></tr>
            </table>
            <div class="button">
                <button (click)="onClick()">Зарегистрировать</button>
            </div>
        </div>
    </div>
</section>