<header class="app-header">
    <h1>Cabel BI</h1>
</header>
<div class="content">
    <div class="form">
        <div class="form-header">
            <div class="line"></div>
        </div>
        <form (ngSubmit)="onSubmit()" class="form-content">
            <div>
                <label for="email">Электронная почта</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <div class="form-submit">
                <img src="../../../assets/Подсказка.svg" alt="Подсказка" (mouseover)="showTooltip()" (mouseout)="hideTooltip()" #image>
                <div class="tooltip" #tooltip>
                    <span>Запомнить данные: токен доступа будет сохранен в локальное хранилище</span>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe">
                    <label for="rememberMe">Запомнить данные</label>
                </div>
                <button type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
