header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vh 0 0.5vh 0;
}

h1 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 36;
    margin: 0;
    padding-left: 5vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-family: 'Roboto Flex';
    margin: 0px;
    padding: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/Background.png');
}

.form {
    background-color: #D9D9D9;
    border-radius: 30px;
    outline: 1px solid #000000;
}

.form .form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 690px;
    height: 62px;
    background-color: #66DD63;
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid #000000;
}

.form .form-header .line {
    width: 596px;
    border-bottom: 3px solid #FFFFFF;
    position: absolute;
}

.form .form-content {
    box-sizing: border-box;
    width: 690px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 40px;
}

.form-content label {
    display: block;
    color: #6F7482;
    margin-bottom: 10px;
  }

.form-content input {
  font-family: 'Roboto Flex';
  box-sizing: border-box;
  color: #3B4256;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
}

.form-content button {
    width: 70px;
    background-color: #0048D9; /* Set background color */
    color: white; /* Set text color */
    font-family: 'Roboto Flex';
    padding: 5px 15px 5px 15px; /* Adjust padding as needed */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
    display: inline-block; /* Allow inline use */
    min-width: fit-content; /* Allow button to shrink to content */
    white-space: nowrap; /* Prevent text wrapping (optional) */
    text-overflow: ellipsis;
    cursor: pointer;
}

.form-content .form-submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    height: 30px;
}

.form-submit label {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    color: #3B4256;
    display: inline-block;
    white-space: nowrap;
}

.form-submit input {
    width: 15px;
    height: 15px;
}

.form-submit .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.form-submit .tooltip {
    font-size: 14px;
    width: 280px;
    padding: 10px 0;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    right: 50%;
    background-color: rgba(102, 221, 99, 0.85);
    color: #FFFFFF;
    border-radius: 20px;
}

.form-submit .tooltip span {
    text-align: center;
}
