<div class="form">
    <div class="form-header">
        <div class="line"></div>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveUser()" class="form-content">
        <div>
            <label for="firstName">Имя сотрудника</label>
            <input type="text" id="firstName" name="firstName" formControlName="firstName" required>
        </div>
        <div>
            <label for="lastName">Фамилия сотрудника</label>
            <input type="text" id="lastName" name="lastName" formControlName="lastName" required>
        </div>
        <div>
            <label for="email">Электронная почта</label>
            <input type="email" id="email" name="email" formControlName="email" [ngStyle]="{'border': form.get('email')?.hasError('email') && form.get('email')?.touched ? '1px solid #d10000' : ''}">
            <div *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched" class="validation-error">
                <p class="error">Неверный формат электронной почты</p>
            </div>
        </div>
        <div>
            <label for="job">Должность сотрудника</label>
            <ng-select
                [items]="jobs"
                [bindLabel]="'name'"
                formControlName="job"
                appendTo="body"
            >
            </ng-select>
        </div>
        <div>
            <label for="roles">Роль сотрудника</label>
            <ng-select
                [items]="roles"
                [bindLabel]="'name'"
                formControlName="roles"
                appendTo="body"
                [multiple]="true"
            >
            </ng-select>
        </div>
        <div class="form-submit">
            <div class="tooltip" #tooltip>
                <span>На почту сотрудника будет выслан надежный пароль</span>
            </div>
            <img src="../../../assets/Подсказка.svg" alt="Подсказка" (mouseover)="showTooltip()" (mouseout)="hideTooltip()" #image>
            <button type="submit" [disabled]="form.invalid">Отправить письмо</button>
        </div>
    </form>
</div>