<div class="background">
    <header>
        <h1>{{ title }}</h1>
    </header>
    <span>{{ message }}</span>
    <div class="buttons">
        <button [ngStyle]="{'background-color': 'grey'}" (click)="onClose()">Отмена</button>
        <button [ngStyle]="{'background-color': 'red'}" (click)="onDelete()">Удалить</button>
    </div>
</div>