.background {
    position: fixed;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
    font-family: 'Roboto Flex';
    border-radius: 20px;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

header h1 {
    font-family: 'Roboto Flex';
    margin: 0;
    text-align: center;
}

span {
    margin: 10px 0;
    display: inline-block;
    text-align: center;
    text-overflow: ellipsis;
}

button {
    color: white; /* Set text color */
    font-family: 'Roboto Flex';
    width: 100%;
    padding: 5px 15px 5px 15px; /* Adjust padding as needed */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Set font size */
    display: inline-block; /* Allow inline use */
    min-width: fit-content; /* Allow button to shrink to content */
    white-space: nowrap; /* Prevent text wrapping (optional) */
    text-overflow: ellipsis;
    cursor: pointer;
}