/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";

body, html {
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}
html, body { 
    box-sizing: border-box;
    height: 100%; width: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ng-select {
    font-family: 'Roboto Flex';
    color: #3B4256;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

ng-select:focus {
    border: 1px solid #0048D9;
}